name: Node.js Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest
    
    env:
      ROOM_MANAGER_URL: http://localhost:3020
      ROOM_REPOSITORY_URL: http://localhost:3011
      SOCKET_SERVER_URL: dummy-url
      MYSQL_HOST: localhost
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: coffeebreak
    
    steps:
      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE ${{ env.MYSQL_DATABASE }};' -u${{ env.MYSQL_USER }} -p${{ env.MYSQL_PASSWORD }}
    
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          
      - uses: actions/checkout@v2
        with:
          repository: 'coffeebreak-architecture/odin'
          path: 'odin'
          
      - uses: actions/checkout@v2
        with:
          repository: 'coffeebreak-archtecture/huginn'
          path: 'huginn'
       
      - run: node huginn/index.js
      - run: node odin/index.js
      - run: node index.js
          
      - run: npm ci
      - run: npm test
